*{
    margin: 0;
    padding: 0;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.body{
    margin: auto;
    width:80%;
    /* height:100vh; */
    /* border: 1px solid red; */
    display: flex;
    position: relative;

}
.left-section{
    width:22%;
    /* border: 1px solid orange; */
    overflow-y: scroll;
    height: 100vh;
    position: sticky;
    top:0;
    left:0;
}
.middle-section{
    width:48%;
    /* border: 1px solid blue; */
}
.right-section{
    width:30%;
    /* border: 1px solid green; */
}
.left-image{
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.left-image img{
    width:28.38px;
    height:23px;
}
.left-image:hover{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: rgb(222, 220, 220);
    transition: 0.2s ;
}
.left-list{
    color:#0F1419;
    /* margin-left: 15px; */
}
.mtb{
    margin:30px 0;
    /* display: inline; */
    
}
.hover:hover{
    border-radius: 25px;
    background-color: rgb(215, 215, 215);
}
.span-padding{
    padding: 10px 30px 10px 10px;
}
.isty{
    margin-right: 15px;
}
.fs-20{
    font-size: 20px;
}
.btn{
    width:80%;
    padding:15px 30px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
    border:none;
    outline: none;
    background-color: rgb(29, 155, 240);
    color: white;
}
.name{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.name-box{
    font-size: 23px;
    font-weight: 600;
    color: white;
    width:40px;
    height:40px;
    background-color: orangered;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myName{
    margin: 0 10px;
}
.myName p:nth-child(1){
    font-weight: 600;
    font-size: 15px;
}
.myName p:nth-child(2){
    color: grey;
    font-size: 15px;
}

.dot{
    width:15px;
    border-top: 3.5px dotted black;
}
.mtb-20{
    margin: 20px 0;
}


/* middle-section */
.contain{
    width:100%;
    height:200px;
    background-color: rgb(196, 194, 194);
    position: relative;
    margin-bottom: 85px;
}
.name-box{
    font-size: 75px;
    font-weight: 600;
    color: white;
    width:133px;
    height:133px;
    background-color: orangered;
    border:5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:190px;
    left:300px;
}

.nav{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height:50px;
    border-bottom: 1px solid rgb(237, 235, 235);
    margin-top: 20px;
}
.middle2{
    width:25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle2:hover{
    background-color: rgb(228, 228, 228);
    transition: 0.2s all ease-in-out;   
}
.bb{
    border-bottom: 4px solid rgb(29, 155, 240); 
    height:100%;
    padding-top: 13px;
    box-sizing: border-box;
}
.section3{
    padding: 15px 16px;
    border-bottom: 1px solid rgb(237, 235, 235);
    border-right: 1px solid rgb(237, 235, 235);
}
.section3-top{
    display: flex;
}
.virat{
   width:40px; 
   height:40px;
   border-radius: 50%; 
   margin-right: 10px;
}
.section3-img img{
width:20.4px;
height:20.4px;
}
.section3-img{
display: flex;
}
.section3-main-img{
    margin-left: 50px;
}
.section3-main-img img{
    width:500px;
    height:340px;
    border-radius: 17px;
    margin-top: 12px;
    margin-bottom: 10px;
}
.fs-13{
    font-size: 13px;
}
.mr-10{
    margin-right: 8px;
}
.mr-30{
    margin-right: 35px;
}
/* right-section */

.right-section{
    padding-left: 30px;
    position: relative;
}
.right-section input{
    border-radius: 25px;
    width: 100%;
    padding: 12px 50px;
    font-size: 15px;
    border: 1px solid rgb(246, 245, 245);
    outline: none;
    margin-top: 5px;
    /* margin-bottom: 15px; */
    background-color:rgb(246, 245, 245);
}
.search{
    position: absolute;
    top:20px;
    left:52px;
}
    

.right1{
    padding: 12px 16px;
    background-color: rgb(246, 245, 245);
    border-radius: 15px;
}
.btn2{
    width: 35%;
    padding: 8px 10px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 25px;
    margin-top: 10px;
}
.right2{
    margin-top: 20px;
    background-color: rgb(246, 245, 245);
    border-radius: 15px;
}
.rect1{
    line-height: 20px;
    padding: 12px 16px;
}
.rect1:hover{
    background-color: rgb(231, 231, 231);
}
.right3{
    margin-top: 10px;
    background-color: rgb(246, 245, 245);
    border-radius: 15px;
}
.right-3flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right3-left{
    display: flex;
}
.btn3{
    padding: 3px 16px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 25px;
}